.convey-issue-container{
    position: absolute;
    top: 0;
    left: 0;
    .convey-issue-div{
        width: 60%;
        max-width: 600px;
        min-width: 300px;
        z-index: 1009;
        background-color: white;
        padding: 10px 16px;
        border-radius: 12px;
        
        .top-section{
            justify-content: space-between;
            img{
                min-height: 24px;
                max-height: 24px;
            }
        }

        .convey-issue-form{
            margin-top: 10px;
            row-gap: 10px;
            textarea{
                min-height: 140px;
                resize: vertical;
            }

            button{
                padding: 6px 10px;
                column-gap: 8px;
                align-items: center;
                width: fit-content;
            }
        }
    }
}