body{
    min-height: 95.5vh;
    padding-bottom: 390px;
}

.empty-data-container{
    .empty-data-div{
        margin: auto;
        align-items: center;
        img{
            width: 260px;
        }
    }
}