#user-voice-heading{
    margin-top: 20px;
    padding-left: 4px;
}

.user-voice-div {
    row-gap: 12px;
    margin-top: 20px;

    .user-voice {
        row-gap: 12px;
        padding: 16px 12px;
        border-radius: 8px;
        
        .user-detail-div {
            column-gap: 12px;
            .image-div {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .user-voice-box {
            row-gap: 6px;
            padding-left: 4px;

            .rating-div{
                column-gap: 2px;
                img{
                    width: 16px;
                }
            }
        }

        .bottom {
            margin-top: 5px;
            column-gap: 20px;
            
            .section{
                column-gap: 8px;
                padding-left: 6px;
                border-left: 2px solid rgb(202, 202, 202);
                img{
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .user-voice-response-div{
            width: 100%;
            .user-voice-response-form{
                row-gap: 10px;

                textarea{
                    border-radius: 6px;
                    height: 100px;
                    border: 1px solid rgb(196, 196, 196);
                }

                .button-div{
                    column-gap: 6px;
                    button{
                        max-width: 90px;
                    }
                }
            }
        }
    }
}

.selected-voice-container{
    .user-voice{
        .user-detail-div{
            .username-div{
                width: 100%;
            }
            .close-div{
                img{
                    width: 18px;
                    height: 18px;
                }
            }
        }

        .operation-section{
            .voice-operation-form{
                row-gap: 10px;
                textarea{
                    min-height: 150px;
                    overflow-y: scroll;
                    max-height: 40vh;
                    background-color: white;
                    resize: vertical;
                }
                button{
                    width: fit-content;
                    height: fit-content;
                }
            }
        }
    }
}

// tenant voice container
.tenant-voice-reponse-container{
    row-gap: 10px;
    
    .tenant-voice-reponse-div{
        margin-left: 10px;
        padding: 10px 10px 5px;
        column-gap: 10px;
        border-radius: 6px;
        background-color: whitesmoke;

        &:hover{
            background-color: rgb(226, 223, 223);
        }
        .left{
            img{
                width: 36px;
                height: 36px;
                border-radius: 100%;
                border: 2px solid red;
            }
        }

        .middle{
            width: 100%;
            row-gap: 5px;
        }
    }
}