.section-heading-container {
  align-items: center;
  justify-content: space-between;
}

.content-article {
  width: 87%;
  padding: 24px;
  background-color: white;
}
.content-article .heading-div {
  width: 100%;
  row-gap: 8px;
}
.content-article .heading-div .top {
  justify-content: space-between;
}
.content-article .heading-div .top button {
  border-radius: 8px;
}
.content-article .house-registration-form {
  margin-top: 20px;
  row-gap: 15px;
  width: 100%;
}
.content-article .house-registration-form .location-container {
  -moz-column-gap: 12px;
       column-gap: 12px;
  height: 40vh;
}
.content-article .house-registration-form .location-container .location-name-div {
  width: 360px;
  row-gap: 8px;
}
.content-article .house-registration-form .location-container .map-div {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  background-color: wheat;
}
.content-article .house-registration-form .location-container .map-div .mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 100%;
  height: 100%;
}
.content-article .house-registration-form .location-container .map-div .gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 100%;
}
.content-article .house-registration-form .location-container .map-div .gmap_iframe {
  width: 100% !important;
  height: 100% !important;
}
.content-article .house-registration-form .photo-container {
  width: 100%;
}
.content-article .house-registration-form .photo-container .photo-div {
  margin-top: 10px;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}
.content-article .house-registration-form .photo-container .photo-div .photo input[type=file] {
  z-index: 2;
  max-width: 200px;
  overflow: hidden;
  margin-left: -6px;
  margin-top: -24px;
  border: none;
}
.content-article .house-registration-form .photo-container .photo-div .photo label {
  z-index: 3;
  border-radius: 8px;
  background-color: lavender;
  padding: 18px 12px;
  cursor: pointer;
  -moz-column-gap: 6px;
       column-gap: 6px;
  align-items: center;
}
.content-article .house-registration-form .photo-container .photo-div .photo label:active {
  transform: scale3d(1.05, 1.05, 1.05);
}
.content-article .house-registration-form .photo-container p {
  margin-top: 8px;
}
.content-article .house-registration-form .amenity-container {
  row-gap: 10px;
}
.content-article .house-registration-form .amenity-container .amenity-div {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
}
.content-article .house-registration-form .amenity-container .amenity-div .amenity {
  border-radius: 12px;
  padding: 12px;
  border: 1px solid lightgray;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.content-article .house-registration-form .amenity-container .amenity-div .amenity .right {
  row-gap: 8px;
}
.content-article .house-registration-form .amenity-container .amenity-div .amenity .right img {
  width: 40px;
}
.content-article .house-registration-form .requirement-container {
  row-gap: 10px;
}
.content-article .house-registration-form .requirement-container textarea {
  border-radius: 6px;
  border-color: rgb(197, 196, 196);
}
.content-article .house-registration-form .submit-button-container input {
  border-radius: 10px;
  padding: 12px 48px;
}

@media only screen and (max-width: 1250px) {
  .body-container .content-article .house-registration-form .photo-container .photo-div {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1100px) {
  .body-container .content-article .house-registration-form .amenity-container .amenity-div {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .body-container .content-article .house-registration-form .photo-container .photo-div {
    grid-template-columns: repeat(2, 1fr);
  }
  .body-container .content-article .house-registration-form .amenity-container .amenity-div {
    grid-template-columns: repeat(3, 1fr);
  }
}/*# sourceMappingURL=add-house.css.map */