.section-heading-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    row-gap: 10px;
    button{
        max-width: 180px;
    }
}