.top-section {
    margin-top: 10px;
    column-gap: 8px;
    align-items: center;
}

.password-update-form {
    width: 50%;
    margin-top: 5px;
    row-gap: 12px;

    input[type=submit] {
        width: 120px;
        border-radius: 8px;
    }
}

.initial-div {
    margin-top: 12px;
}

@media only screen and (max-width: 1200px) {
    .body-container {
        .content-article {
            .password-update-form {
                width: 100%;
                margin-top: 5px;
                row-gap: 12px;

                input[type=text] {
                    width: 100%;
                }

                input[type=submit] {
                    width: 120px;
                    border-radius: 8px;
                }
            }

            .initial-div {
                margin-top: 12px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .body-container {
        .content-article {
            .password-update-form {
                input[type=submit] {
                    width: 100%;
                }
            }

            .initial-div {
                margin-top: 12px;
            }
        }
    }
}